block script
    script(src="/javascripts/list/list_base.js")
    script(src="/javascripts/list/list_studentEdit.js")

.col-md-8.col-md-offset-2.text-right
    .box
        .box-body
            .row
                .col-md-3
                    form#picture_form(action="/contents/student/test" method="post" enctype="multipart/form-data")
                        - if(data)
                            input(type='hidden' name='order' value='upd')
                            input#id_h(type="hidden" name='id' value = data.studentId)
                            label
                                input#picCheck(type='checkbox', name='checked', value='1', checked='checked' onclick="javascript:defPic();")
                                |現在の画像を使用
                        - else
                            input#id_h(type="hidden" name='id' value = newId)

                        br
                        #preview
                            - if(data)
                                img#studentPicture(src=`/image/${data.studentId}.jpg`, class='uploaded thumb', alt='')

                        label.button
                            |ファイルを選択
                            input#pictureSelect(type='file', name='image', style='display:none;' accept="image/*")
                        - if(title === '園児編集')
                            p: button.long120.bg-blue(type='button' onclick='showQr();') QRコード表示

                .col-md-9.text-left
                    form#student_form(action="/contents/student/test" method="post" enctype="multipart/form-data")
                        table(style='border-spacing : 5px; border-collapse : separate ;')
                            tbody
                                tr
                                    td 名前
                                    td
                                        - if(data)
                                            input#name_box(type='text', name='name', size=20 value = data.name)
                                            input#birthDay_h(type="hidden" value = data.birthDay)
                                            input#gender_h(type="hidden" value = data.gender)
                                            input#party_h(type="hidden" value = data['party.name'])
                                            input#path_h(type="hidden" value = data.picturePath)
                                        - else
                                            input#name_box(type='text', name='name', size=20)
                                tr
                                    td ふりがな
                                    td
                                        - if(data)
                                            input#phonetic_box(type='text', name='name', size=20 value = data.phonetic)
                                        - else
                                            input#phonetic_box(type='text', name='name', size=20)
                                tr
                                    td 誕生日
                                    td: |
                                        input#year(type="text" size="6")
                                        select#yearSelect(style='width:7%')
                                            - const thisYear = new Date().getFullYear()
                                            - for(let target = thisYear - 6;thisYear >= target;target++)
                                                option(value = target) #{target}

                                        |
                                        | 年
                                        |
                                        select#month(name='')
                                           - for(let i = 1;i < 13;i++)
                                              option(value = i) #{i}
                                        |
                                        | 月
                                        |
                                        select#day(name='')
                                            - for(let i = 1;i < 32;i++)
                                                option(value = i) #{i}
                                        |
                                        | 日
                                        |
                                tr
                                    td 性別
                                    td#genderTd
                                        input#man(type='radio', name='gender', value='man' checked=true)
                                        label(for="man") 男　
                                        input#woman(type='radio', name='gender', value='woman')
                                        label(for="woman") 女　
                                        input#other(type='radio', name='gender', value='other')
                                        label(for="other") その他
                                tr
                                    td 組
                                    td: select#party_box(name='')
                                        - for(let i = 0;i < parties.length;i++)
                                            option #{parties[i].name}
                                tr
                                    td 備考
                                    td
                                        - if(data)
                                            textarea#remarks_box #{data.remarks}
                                        - else
                                            textarea#remarks_box

// モーダルの配置
.modal#modal-qr
    .modal-dialog
        // モーダルのコンテンツ
        .modal-content
            // モーダルのヘッダ
            .modal-header
            // モーダルのボディ
            .modal-body.text-center
                #qrcode
                button.btn.btn-default.long120(type="button" data-dismiss="modal") キャンセル